html
    head
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        script(src='/js/jquery.min.js')
        script(src='/js/bootstrap.min.js')
        link(rel='stylesheet', href='../css/clients.css')
        meta(name='viewport' content='width=device-width, initial-scale=1')
    body
        div.alert.alert-danger.alert-fixed(role='alert' style='display:none;') 
        div.alert.alert-success.alert-fixed(role='alert' style='display:none;')= "Le score a bien été enregistré"
        nav.navbar.navbar-inverse
            div.navbar-header
                a(href="/back/").navbar-brand
                  span.glyphicon.glyphicon-menu-left(aria-hidden='true')
                div.navbar-brand= "Score"
                
        div.container
          div.search_zone
            input#search.form-control(type='text' placeholder='Rechercher client')
            div.list-group
          div.result(style='display:none;')
            div.form-group
              input.result-input.form-control(type='number' placeholder='Résultat' name='result')
            div.form-group
              button.btn.btn-primary.pull-right(type='submit') Valider
    
        div#dupModal.modal.fade(tableindex='-1' role='dialog')
          div.modal-dialog(role='dialog')
            div.modal-content
              div.modal-header
                h4.modal-title= "Duplicat"
              div.modal-body
                p#messageError
              div.modal-footer
                button.btn.btn-default(type='button' onclick='selectionModal(false)')= "Non"
                button.btn.btn-primary(type='button' onclick='selectionModal(true)')= "Oui"

    script.
        var listUsers = []; 
        window.localStorage.setItem('token', "#{token}");
        $('#search').on('input', function() {
            if($('#search').val().length > 0){
                $.ajax({
                    url : '../api/members/',
                    dataType : 'json',
                    headers: {
                        'x-access-token' : window.localStorage.getItem('token')
                    },
                    data : {
                        'query' : $('#search').val()
                    },
                    success : function(donnees){
                        $('.list-group').empty();
                        listUsers = donnees;
                        $.map(donnees, function(objet){
                            $('.list-group').append("<button onclick='select("+ objet.id +")' class='list-group-item'>" + objet.lastname + " " + capitalize(objet.firstname) +"</button>")
                        });
                    }
                });
               } else {
                $('.result').hide();
               }
        });
        
        $('#search').on('focus', function() {
          $('#search').val('');
          $('#search').data('id', '');
          $('.result').hide();
        });
        
        function select(id) {
          var user = $.grep(listUsers, function(e) { return e.id == id })[0];
          if(typeof user !== "undefined"){
            $('#search').val(user.lastname + ' ' + capitalize(user.firstname));
            $('#search').data('id', user.id);
            $('.list-group').empty();
            $('input[name=result]').val('');
            $('.result').show();
            setTimeout(function(){
                 $('.result-input').focus().select();
            });

          }
        }
        $('button[type=submit]').on('click', function() {
          var user = $.grep(listUsers, function(e) { return e.id ==   $('#search').data('id') })[0];
          var result = $('input[name=result]').val();
          if(typeof user !== "undefined" && typeof result !== "undefined" && result){
            if(Math.floor(result) == result && $.isNumeric(result)){
              $.ajax({
                  url : '../api/results/',
                  dataType : 'json',
                  type : 'POST',
                  headers: {
                      'x-access-token' : window.localStorage.getItem('token')
                  },
                  data : {
                      'member': user.id,
                      'score': result
                  },
                  success : function(donnees){
                    if(donnees.code){
                      if(donnees.code == "ER_DUP_ENTRY"){
                        $('#messageError').html(user.lastname + ' ' + capitalize(user.firstname) + ' possède déjà un résultat pour ce jeu.  <br> Voulez vous le remplacer?');
                        $('#dupModal').modal('show');
                      }else{
                        $('.alert-danger').text(donnees.message);
                        $('.alert-danger').fadeIn('fast').delay(2000).fadeOut('fast');
                      }
                    }else{
                      $('.alert-success').fadeIn('fast').delay(2000).fadeOut('fast');
                      $('#search').focus();
                    }
                  }
              });
            }else{
              $('.alert-danger').text("Entrez un entier");
              $('.alert-danger').fadeIn('fast').delay(2000).fadeOut('fast');
            }
          }else{
            $('.alert-danger').text("Entrez le score");
            $('.alert-danger').fadeIn('fast').delay(2000).fadeOut('fast');
          }
        });

        function capitalize(str){
          return str.replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();});
        }
        
        function selectionModal(valid){
          $('#dupModal').modal('hide');
          if(valid){
            var user = $.grep(listUsers, function(e) { return e.id ==   $('#search').data('id') })[0];
            var result = $('input[name=result]').val();
            if(typeof user !== "undefined" && typeof result !== "undefined" && result){
              $.ajax({
                  url : '../api/results/',
                  dataType : 'json',
                  type : 'PUT',
                  headers: {
                      'x-access-token' : window.localStorage.getItem('token')
                  },
                  data : {
                      'member': user.id,
                      'score': result
                  },
                  success : function(donnees){
                    if(donnees.code){
                      $('.alert-danger').text(donnees.message);
                      $('.alert-danger').fadeIn('fast').delay(2000).fadeOut('fast');
                    }else{
                      $('#search').focus();
                      $('.alert-success').fadeIn('fast').delay(2000).fadeOut('fast');
                    }
                  }
              });
            }
          }else{
            $('#search').focus();
          }
        }
    
