html
    head
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        script(src='/js/jquery.min.js')
        script(src='/js/bootstrap.min.js')
        meta(name='viewport' content='width=device-width, initial-scale=1')
    body
        nav.navbar.navbar-inverse
            div.navbar-header
                a(href="/back/").navbar-brand= ""
                div.navbar-brand= "Liste des jeux"
        div.container
            div.list-group
                for game in games
                    button.list-group-item(onclick="select("+ game.id +")")= game.name
                else
                    li sorry, no games!
    script.
        function select(id) {
            window.location.href = '/back/clients?id='+id;
        }
